.body {
    margin-top: 20px;
    margin-left: 30px;
}
.margen {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    background-color:antiquewhite;
}

.renglon{
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn{
    margin-left: 80px
}